name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "==> Navegando al repositorio"
            cd /var/www/evaluacion2 || exit

            echo "==> Actualizando repo"
            git pull origin main

            echo "==> Construyendo imagen Docker"
            docker build -t ghcr.io/gabrielreyes3/evaluacion2:latest .

            echo "==> Copiando archivos de configuración a /home/deployer/app"
            sudo cp -r app/* /home/deployer/app/ || true

            echo "==> Dando permisos de ejecución al script de Blue/Green"
            chmod +x /home/deployer/app/deploy_blue_green.sh

            echo "==> Ejecutando Blue/Green Deploy"
            cd /home/deployer/app
            ./deploy_blue_green.sh ghcr.io/gabrielreyes3/evaluacion2:latest

            echo "==> Despliegue completado"
